<!DOCTYPE html>
<html>
  <head>
    <title>C12 Branches Library</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <ul>
        <li>
          <%# This is the syntax for defining a link in HTML (More in depth in View Helpers lesson) %>
          <%= link_to "Home!", root_path %>
        </li>
        <li>
          <%= link_to "Go to the Books Index Page", books_path %>
        </li>
                <li>
          <%= link_to "Go to the Authors Index Page", authors_path %>
        </li>
        <li>
          <%= link_to "Let's make a NEW book", new_book_path %>
        </li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
